/*deep orange = #f44d2f*/
/*orange*/
/*gold*/
/*warm grey #191b1e*/
/*cool grey #2d3035*/


a, a:hover, a:focus {
	background: #f44d2f;
	text-decoration: none;
	transition: all eas0.3s;
	color: #f44d2f;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */



#profile-img {
	margin: 40px 0 0 0;
	
}

.title {
	height: 30px;
	vertical-align: middle;
	background: #2d3035;
	color: white;
	padding: 5px;
}

.leftRoast{
	padding: 10px;
	border-right: 1px solid orange;
}

.rightRoast{
	padding: 10px;
}

.roast {
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid gold;
	background: #ffe188;
	box-shadow: 0 0 10px orange;
}

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	padding-top:20px;
}


