/*deep orange = #f44d2f*/
/*orange*/
/*gold*/
/*warm grey #191b1e*/
/*cool grey #2d3035*/


a, a:hover, a:focus {
	background: #f44d2f;
	text-decoration: none;
	transition: all eas0.3s;
	color: #f44d2f;
}
.navbar {
	background: transparent;
	border: none;	
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
	color: #2d3035;
	background: #f44d2f;
}

.navbar-btn:hover{
	background: gold;
	color: #f44d2f;
	transition: ease-out all 0.3s;
	box-shadow: 0px 0px 25px orange;

}

.navbar-btn:after{
	transition: all 0.3s;
	background:#2D3035;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */






label {
	color:#2D3035;
	padding-top:20px;
}
