
.form-group {
	margin-bottom: 0;
}

form {
	margin-bottom:0;
}

.search {
	margin-bottom: 30px;
}

.btn-group {
	width: 100%;
	box-shadow: none;
}

.dropdown-menu {
	background:#F44D2F;
}

ul.a:hover{
	background:#FFD700;
	color:#F44D2F;
	text-shadow: 0 0 10px orange;
}



.submitRoast {
	margin-top: 30px;
	padding: 5px;
}
