
.form-group {
	margin-bottom: 0;
}

form {
	margin-bottom:0;
}

.btn-group {
	width: 100%;
	box-shadow: none;
}

.dropdown {
	margin: 0 0 30px;
}

.dropdown-menu {
	background:#F44D2F;
	padding: 0;
}

ul.a:hover{
	background:#FFD700;
	color:#F44D2F;
	text-shadow: 0 0 10px orange;
}



.submitRoast {
	margin-top: 30px;
	padding: 15px;
	font-size: 24px;
}

.roastTextarea {
	border-radius: 6px;
}

.glyphicon-search {
	color:gold;
	text-shadow: 0 0 10px orange;
}

a:hover {
	background-color: gold;
	text-shadow: 0 0 10px orange;
	color:#F44D2F;
}

.input-group-addon {
    padding: 0;
	border-radius: 5px;
}

.input-group {
	border-radius: 5px;
}

#rules{
	float: right;
}
