/*
    DEMO STYLE
*/

body {
	background: #f44d2f;
	color: #2D3C59;
}
p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #191b1e;
	
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	color: #f44d2f;
}
.navbar {
	background: transparent;
	border: none;
	border-radius: 0;
	
}
.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
	background: #2D3C59;
}

.navbar-btn:hover{
	background: white;
	color: #f44d2f;
	transition: all 0.3s;
	box-shadow: 0px 0px 25px white;

}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 20px 0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: -250px;
	height: 100vh;
	z-index: 999;
	background: #191b1e;
	color: #1b001c;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	border-right: 2px solid #f44d2f;
}
#sidebar.active {
	left: 0;
}
#dismiss {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #f44d2f;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 10px;
}
#dismiss:hover {
	background: #fff;
	color: #f44d2f;
	box-shadow: 0px 0px 25px white;
}
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	display: none;
}
#sidebar .sidebar-header {
	background: transparent;
}
#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid ;
}
#sidebar ul p {
	color: #fff;
	padding: 10px;
}
#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
	background: transparent;
}
a[data-toggle="collapse"] {
	position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	content: '\e259';
	display: block;
	position: absolute;
	right: 20px;
	font-family: 'Glyphicons Halflings';
	font-size: 0.6em;
}
a[aria-expanded="true"]::before {
	content: '\e260';
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: transparent;
}
ul.CTAs {
	padding: 20px;
}
ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.article, a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}
.nav {
	float: right;
}

.leftRoast {
	border-right: 1px solid;
	padding: 10px;
}

.rightRoast {
	padding: 10px;
}
#profile-img {
	margin: 40px 0 0 0;
}
