/*deep orange = #f44d2f*/
/*orange*/
/*gold*/
/*warm grey #191b1e*/
/*cool grey #2d3035*/



#login {
	border-right: 2px solid #F44D2F;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all eas0.3s;
	color:#FFD700 #f44d2f;
}

.glyphicon:hover {
	color: white;
	text-shadow: 0 0 10px yellow;
	transition: all 0.3s ease-out;
}

h1 {
	font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
	color:gold;
	text-shadow: 0px 0px 25px orange;
	margin-bottom: 15px;
}

body {
	margin:0;
	background:#f44d2f;
	background-repeat: no-repeat;
	color: #191b1e;
	
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding: 0;
}

p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: gold;
	text-shadow: 0 0 10px orange;
	margin: 0;
	padding: 10px;	
}

.btn {
	box-shadow: none;
	outline: none !important;
	border: none;
	color: #2d3035;
	background: #f44d2f;
}

.btn-info:active{
	background:#2D3035;
}

.btn:hover{
	background: gold;
	color: #f44d2f;
	transition: ease-out all 0.3s;
	box-shadow: 0px 0px 25px orange;

}

.btn:after{
	transition: all 0.3s;
	background:#2D3035;
}

.navbar {
	background: transparent;
	border: none;
}

.form-control {
	border: 2px solid #f44d2f;
	color: #f44d2f;
	background:#2d3035;
	margin: 0;
class="col-xs-12 col-sm-12 col-md-12 col-lg-12"}

.form-control:focus{
	border: 2px solid gold;
	box-shadow: 0 0 10px orange;
	color: gold;
	text-shadow: 0 0 10px orange;
	background: #f44d2f;
	transition: all .3s ease-out;
}

.input-group-addon {
	box-shadow: none;
	outline: none !important;
	border: none;
	color: #2d3035;
	background: #f44d2f;
}

.input-group-addon:hover {
	background: gold;
	color: #f44d2f;
	transition: ease-out all 0.3s;
	box-shadow: 0px 0px 25px orange;
}

.input-group-addon:after{
	transition: all 0.3s ease-out;
}

.form-control:focus{
	border: 2px solid gold;
	box-shadow: 0 0 10px orange;
	color: #f44d2f;
	text-shadow: 0 0 10px orange;
	background: gold;
	transition: all .3s ease-out;
}

label {
	padding-top:20px;
}

label:active {
	color:#F44D2F;
}

#profile-img {
	margin: 60px 0 0 0;	
}

.title {
	vertical-align: middle;
	background: #f44d2f;
	color:#191b1e;
	padding: 5px;
	height: auto;
	font-size: 24px
}

.leftRoast{
	padding: 10px;
	border-right: 1px solid orange;
}

.rightRoast{
	padding: 10px;
}

.roast {
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid gold;
	background:#2D3035;
	box-shadow: 0 0 10px orange;
}

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	padding-top:20px;
	padding-bottom: 60px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
}

.dropdown-menu>li>a:hover {
    background: #FFD700;
	box-shadow: 0 0 10px orange;
	color:#F44D2F;
	text-shadow: 0 0 10px orange;
}



#sideName {
	margin: 30px 0 0 0;
	text-align: center;
	
}

.logo {
	margin: -50px 0 0 0;
}

.line {
	height: 2px;
	background: gold;
	box-shadow: 0 0 10px orange;
	margin-top: 59px;
	margin-bottom: 59px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

.img-table {
	height: 28px;
	width: 28px;
	overflow: hidden;
	border-radius: 50%;
}


table a:hover {
	background: transparent;
	color: gold;
	text-shadow: 0 0 10px orange;
}

.img-table img{
	height: 28px;
	width: auto;
}


#userImageDiv {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	overflow: hidden;
}

.panel-default {
	border: solid 2px gold;
	box-shadow: 0 0 10px orange;
    background: #2d3035;
	color: #f44d2f;
}

.panel-default>.panel-heading {
	background: #f44d2f;
	border: none;
}

.btn-danger{
	background:#F44D2F;
}